<div class="form__container">
    <h3>Centro de mensajes</h3>

        <ul class="lista" id="lista">
        
        </ul>

        <form id="formulario" class="formulario">
            <input type="text" name="name" id="name" placeholder="Tu email">
            <input type="text" name="info" id="info" placeholder="Escribe un mensaje aquí">
            <input type="submit" value="Ingresar">
        </form>
</div>