<div class="form__container">
  <h3>Lista de productos</h3>
  <table style="width:100%" id="productos">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
  </table>
</div>