/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* GENERAL */
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(207%2c 210%2c 213%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c920.284C171.311%2c909.435%2c245.5%2c695.471%2c373.32%2c580.897C476.913%2c488.04%2c628.502%2c439.79%2c680.155%2c310.617C731.284%2c182.755%2c646.297%2c45.27%2c642.549%2c-92.385C638.138%2c-254.417%2c749.11%2c-435.782%2c656.219%2c-568.617C564.661%2c-699.545%2c358.765%2c-656.241%2c209.118%2c-712.192C43.846%2c-773.985%2c-102.465%2c-974.122%2c-268.477%2c-914.347C-437.428%2c-853.514%2c-440.452%2c-611.288%2c-519.249%2c-449.931C-576.563%2c-332.566%2c-636.599%2c-222.817%2c-668.081%2c-96.056C-702.797%2c43.727%2c-760.772%2c189.612%2c-711.716%2c325.03C-661.579%2c463.431%2c-517.91%2c535.747%2c-404.995%2c630.185C-274.983%2c738.923%2c-169.152%2c930.996%2c0%2c920.284' fill='%23a2a8ae'%3e%3c/path%3e%3cpath d='M1920 1535.71C2031.772 1542.975 2153.88 1650.897 2245.323 1586.213 2338.1059999999998 1520.5810000000001 2263.631 1361.8690000000001 2311.486 1258.785 2359.84 1154.626 2505.381 1107.526 2520.398 993.676 2535.784 877.0260000000001 2471.181 757.77 2388.626 673.933 2308.109 592.165 2190.031 565.983 2077.433 543.831 1973.015 523.289 1860.562 504.923 1764.728 551.192 1673.358 595.3050000000001 1642.374 705.283 1578.964 784.49 1518.662 859.814 1431.017 913.658 1401.108 1005.395 1368.4859999999999 1105.454 1366.463 1217.1970000000001 1406.104 1314.689 1446.508 1414.058 1522.225 1503.233 1620.767 1545.615 1714.341 1585.8600000000001 1818.353 1529.103 1920 1535.71' fill='%23fcfcfc'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(162%2c 176%2c 189%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c892.305C167.686%2c879.169%2c341.315%2c837.197%2c464.278%2c722.431C579.829%2c614.583%2c574.557%2c436.142%2c641.936%2c293.162C710.437%2c147.802%2c859.103%2c36.529%2c863.208%2c-124.111C867.495%2c-291.894%2c765.374%2c-441.609%2c664.133%2c-575.474C557.465%2c-716.515%2c443.306%2c-891.082%2c267.662%2c-911.572C91.168%2c-932.161%2c-30.385%2c-733.585%2c-198.523%2c-676.106C-355.673%2c-622.384%2c-557.101%2c-701.223%2c-678.665%2c-588.066C-800.312%2c-474.832%2c-779.625%2c-279.981%2c-801.12%2c-115.184C-822.33%2c47.428%2c-852.426%2c210.385%2c-803.212%2c366.815C-750.085%2c535.682%2c-661.643%2c702.109%2c-513.503%2c799.027C-364.913%2c896.24%2c-177.023%2c906.172%2c0%2c892.305' fill='%23798da0'%3e%3c/path%3e%3cpath d='M1920 1476.67C2008.253 1474.741 2105.009 1531.157 2179.366 1483.5819999999999 2253.715 1436.012 2248.2200000000003 1326.854 2281.758 1245.209 2313.7110000000002 1167.422 2370.118 1099.112 2371.837 1015.0360000000001 2373.71 923.424 2350.549 828.155 2291.7219999999998 757.9010000000001 2232.508 687.184 2137.881 664.537 2051.431 632.3879999999999 1958.479 597.821 1860.858 527.721 1768.2649999999999 563.238 1675.191 598.94 1648.363 716.293 1602.266 804.682 1565.895 874.422 1555.67 949.979 1528.143 1023.659 1491.213 1122.506 1385.8139999999999 1209.605 1412.879 1311.595 1439.267 1411.035 1555.414 1463.2359999999999 1653.243 1495.0810000000001 1739.748 1523.24 1829.049 1478.658 1920 1476.67' fill='%23cbd3da'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 20px;
}

/* STYLES */
.container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.container__header,
.container__footer {
    color: white;
    display: flex;
    align-items: center;
}

.container__header {
    height: 40px;
    padding: 10px;
    background-color: rgb(49, 61, 77);
}

.container__footer {
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.container__content form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container__content form label:not(:first-of-type) {
    margin-top: 20px;
}

.container__content img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 100%;
    border: 1px solid grey;
    object-fit: cover;
}

.phoneForm {
    display: flex;
    gap: 6px;
}

.phoneForm input {
    flex-grow: 1;
}
.phoneForm input:first-of-type {
    width: 40px;
}


/* BUTTONS */
.btn__blue,
.btn__green, .btn__red {
    padding: 4px;
    border: 1px solid rgb(153, 153, 153);
    min-width: 90px;
    color: white;
}

.btn__blue {
    background-color: rgb(36, 84, 114);
    border: 1px solid rgb(40, 174, 236);
}

.btn__green {
    background-color: rgb(63, 87, 41);
    border: 1px solid rgb(12, 187, 12);
}

.btn__red {
    background-color: rgb(87, 41, 41);
    border: 1px solid rgb(187, 12, 12);
}

.btn__navigation--add {
    border: 1px solid rgb(11, 206, 255);
    background-color: transparent;
    color: rgb(0, 122, 153);
    font-weight: bolder;
    border-radius: 8px;
    padding: 6px 8px;
    min-width: 60px;
}

.btn__navigation--add:hover {
    background-color: rgb(51, 131, 151);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.btn__navigation--remove {
    border: 1px solid rgb(223, 70, 70);
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: bold;
    height: 30px;
    width: 30px;
}

.btn__navigation--remove:hover {
    border: 1px solid rgb(223, 70, 70);
    background-color: rgb(116, 33, 33);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* INPUTS */
.form__input {
    outline: 0;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(190, 190, 190);
}

/* PRODUCTS */
.main__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "products" "footer";
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    transition: 0.2s all ease-in-out;
}

.navbar__profile:hover {
    cursor: pointer;
    background-color: rgb(72, 84, 99);
    color: white;
}

.navbar__profile img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid rgb(168, 168, 168);
    object-fit: cover;
}

.navbar__menu {
    display: flex;
    gap: 30px;
}

.navbar__menu > p {
    padding: 15px 14px;
    text-transform: uppercase;
}


.products {
    grid-area: products;
    padding: 20px;
}

.products__header {
    background-color: rgb(72, 84, 99);
    color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.products__header p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__footer {
    background-color: rgb(72, 84, 99);
    height: 3px;
}

.cart__footer {
    border: 3px solid rgb(72, 84, 99);
    border-top: 1px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.item__photo img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid rgb(192, 192, 192);
}

.item__photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
}

.register {
    width: 350px;
}

.register p {
    color: rgb(219, 61, 61);
    text-transform: uppercase;
    font-size: smaller;
    margin-bottom: 4px;
}

@media screen and (max-width: 800px) {
    .main__container {
        padding: 0;
    }

    .container {
        border-radius: 0;
    }

    .products {
        padding: 0;
    }

    .products__header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .products__footer {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .products table {
        border-left: 0;
        border-right: 0;
    }
}

/* ///////////////////////////////////////////// */
/*                                               */
/*                  NUEVOS ESTILOS               */
/*                                               */
/* ///////////////////////////////////////////// */


.LoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    display: flex;
    flex-direction: column;

    height: 350px;
    width: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login__container--top {
    color: white;
    background-color: rgb(0, 0, 0);

    height: 40%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.login__container--top h2 {
    color: rgb(56, 195, 241);
}

.login__container--top p {
    text-align: center;
    color: rgb(202, 202, 202);
}

.login__container--bottom {
    background-color: rgb(255, 255, 255);
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/874/132/original/abstract-geometric-white-background-free-vector.jpg');
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login__container--bottom form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
}

.login__container--bottom p {
    text-align: center;
    font-size: small;
}

.login__container--signuptext {
    color: rgb(0, 115, 153);
}

.signupNow {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.signupNow:hover {
    cursor: pointer;
}

/* ///////////////////////////////////////////// */
/*                                               */
/*                  REGISTRO                     */
/*                                               */
/* ///////////////////////////////////////////// */


.SignUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 700px;
    display: flex;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__container--leftside, .form__container--rightside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.form__container--leftside {
    background-color: black;
    color: white;
    gap: 10px;
}

.form__container--leftside h1 {
    color: rgb(56, 195, 241);
}

.form__container--leftside p {
    text-align: center;
    color: rgb(202, 202, 202);
}

.form__container--rightside {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/874/132/original/abstract-geometric-white-background-free-vector.jpg');
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form__container--rightside form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form__input {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border: 1px solid rgb(201, 201, 201);
    padding: 10px;
    border-radius: 20px;
}

.form__input:focus {
    box-shadow: rgba(56, 195, 241, 0.6) 0px 0px 0px 2px;
    outline: 0;
}

.custom__button {
    padding: 8px 14px;
    border-radius: 20px;
    min-width: 140px;
    align-self: center;

    outline: 0;
    border: 0;
    background-color: #2ebbbf;
    color: white;
}

.custom__button--dark {
    padding: 8px 14px;
    border-radius: 20px;
    min-width: 140px;
    align-self: center;

    outline: 0;
    border: 0;
    background-color: #1d5974;
    color: white;
}

.custom__button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.custom__button--dark:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.signup__buttons {
    display: flex;
    gap: 20px;
}

/* ////////////////////////////////////////////// */
/*                                                */
/*                  PRODUCTOS                     */
/*                                                */
/* ////////////////////////////////////////////// */


.products__container {
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product__card {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product__card--photo {
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.product__card--description {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product__card--description h4 {
    text-align: center;
}

.product__button--addcart {
    padding: 8px 14px;
    border-radius: 20px;
    min-width: 140px;
    align-self: center;

    outline: 0;
    border: 0;
    background-color: #628388;
    color: white;
}

.product__button--addcart:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* ////////////////////////////////////////////// */
/*                                                */
/*                  HEADER                        */
/*                                                */
/* ////////////////////////////////////////////// */

header {
    grid-area: header;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header div:nth-child(2) {
    display: flex;
    gap: 30px;
}

header ul {
    max-height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(139, 139, 139);
}

header ul li:hover {
    color: white;
    cursor: pointer;
}

header ul .active {
    color: rgb(255, 255, 255);
}

.picture {
    background-color: rgb(114, 59, 49);
    border-radius: 100%;
    height: 35px;
    width: 35px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.picture:hover {
    cursor: pointer;
}

footer {
    grid-area: footer;
    background-color: black;
    color: rgb(165, 165, 165);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    font-size: small;
}

/* ///////////////////////////////////////////////////////// */
/*                                                           */
/*                  ERROR LOGIN/REGISTRO                     */
/*                                                           */
/* ///////////////////////////////////////////////////////// */

.error__container {
    display: flex;
    flex-direction: column;

    height: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.error__container--top {
    color: white;
    background-color: rgb(0, 0, 0);

    height: 70%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.error__container--top h2 {
    color: rgb(56, 195, 241);
}

.error__container--top p {
    text-align: center;
    color: rgb(202, 202, 202);
}

.error__container--bottom {
    background-color: rgb(255, 255, 255);
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/874/132/original/abstract-geometric-white-background-free-vector.jpg');
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    text-align: center;
    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* //////////////////////////////////////////// */
/*                                              */
/*                  CARRITO                     */
/*                                              */
/* //////////////////////////////////////////// */

.cart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.cart__container--leftside {
    flex-grow: 1;
    height: 100%;
}

.cart__container--rightside {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__container--emptycart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cart__container--buttons {
    display: flex;
    justify-content: space-evenly;

}

/* /////////////////////////////////////////// */
/*                                             */
/*                  TABLAS                     */
/*                                             */
/* /////////////////////////////////////////// */

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

th {
    background-color: #000000;
    color: white;
    padding: 10px 10px;
}

td {
    background-color: rgb(255, 255, 255);
    padding: 25px 10px;
    text-align: center;
}


td:last-of-type {
    width: 130px;
}

tr:hover > td {
    background-color: rgb(230, 230, 230);
}

tbody tr:not(.products tbody tr:last-of-type) {
    border-bottom: 1px solid rgb(223, 223, 223);
}

/* ////////////////////////////////////////////// */
/*                                                */
/*                  PERFIL                        */
/*                                                */
/* ////////////////////////////////////////////// */

.ProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__leftside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

    background-color: #000000;
    color: #ffffff;
    width: 200px;
    height: 500px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.profile__rightside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    padding: 30px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profile__rightside form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__picture {
    width: 140px;
    height: 140px;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(56, 195, 241, 0.7) 0px 0px 50px;
}

.profile__picture--photo {
    width: 120px;
    height: 120px;

    border-radius: 100%;

    background-image: url("https://s2.ppllstatics.com/elcorreo/www/multimedia/201804/27/media/cortadas/hacker-mujer-krfE-U501747500576TDH-624x385@RC.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile__leftside--description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(56, 195, 241);
}

.profile__leftside--description p {
    color: #cacaca;
}

.profile__buttons {
    display: flex;
    justify-content: space-between;
}

.custom__button--red {
    padding: 8px 14px;
    border-radius: 20px;
    align-self: center;
    min-width: 140px;

    outline: 0;
    border: 0;
    background-color: #af2f2f;
    color: white;
}

.custom__button--red:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.custom__button--green {
    padding: 8px 14px;
    border-radius: 20px;
    align-self: center;
    min-width: 140px;

    outline: 0;
    border: 0;
    background-color: #207742;
    color: white;
}

.custom__button--green:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}