<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    
    <% if (form) { %>
        <p>FORM</p>
    <% } else { %>
        <% data.forEach(item => { %>
            <p>
                <%= item.title %>
            </p>
        <% }) %>
    <% } %>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>