<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="main__container">

        <article class="container navbar">
            <div class="navbar__logo">Tienda online</div>
            <div class="navbar__menu">
                <p class="navbar__profile" onclick="location.href='/products'">Productos</p>
                <p class="navbar__profile active" onclick="location.href='/cart'">Carrito</p>
            </div>
            <div class="navbar__profile" onclick="location.href='/profile'">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt=""><%= user.username %>
            </div>
        </article>

        <article class="container products">
            <div class="products__header">
                <p>Carrito</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Agregar</th>
                    </tr>
                </thead>

                <tbody>
                    <% if (data.products.length == 0) { %>
                        <tr>
                            <td colspan="4">No hay productos en el carrito</td>
                        </tr>
                        <% } else { %>
                            <% data.forEach(item => { %>
                                <% console.log(item) %>
                        <% }) %>
                    <% } %>
                </tbody>

            </table>

            <div class="products__footer"></div>
        </article>

    </section>
</body>

</html>