<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="container">
        <article class="container__header">Registrarse</article>
        <article class="container__content">
            <form action="/register" method="POST" id="loginForm">
                <input type="text" name="username" id="username" placeholder="Ingrese su usuario" class="form__input">
                <input type="email" name="email" id="email" placeholder="Ingrese su email" class="form__input">
                <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" class="form__input">
            </form>
        </article>
        <article class="container__footer">
            <button class="btn__green" onclick="location.href='/login'">Volver</button>
            <button class="btn__blue" type="submit" form="loginForm">Registrarse</button>
        </article>
    </section>
</body>

</html>