/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* RESET */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { list-style-type: none; }

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* STYLES */
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    background-color: #62685A; 
}

body {
    font-size: 1.2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 1.8rem;
    padding: 10px 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    height: 60px;
}

header ul {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #777777;
    text-transform: uppercase;
    font-size: 1.6rem;
}

header ul li:hover {
    cursor: pointer;
    color: #ffffff;
}

ul .active {
    color: white;
}

/* CARDS */

.cards__container {
    padding: 20px;
    flex-grow: 1;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 250px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover > .card__image {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.card__image {
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card__description p:first-of-type {
    font-size: 1.8rem;
    font-weight: bold;
}

/* CART */

.cart__container {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 400px;
    padding: 80px 20px 20px 20px;
    right: 0;
    z-index: 0;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background-color: #242424;
    color: white;
    padding: 10px;
}

.cart__header--button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0px 10px;
}

.cart__header--button:hover {
    cursor: pointer;
    background-color: rgb(185, 15, 15);
    color: white;
}

/* AGREGAR PRODUCTO */

.addProduct__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addProduct__modal {
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addProduct__modal--header {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.addProduct__modal--header button {
    padding: 0 6px;
    border: 0;
    border-radius: 4px;
}

.addProduct__modal--header button:hover {
    cursor: pointer;
    background-color: #832626;
    color: white;
}

.addProduct__modal--content {
    flex-grow: 1;
    padding: 10px;
}

.addProduct__modal--footer {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.addProduct__modal--footer input {
    padding: 4px;
    background-color: #064419;
    color: white;
    border: 1px solid rgb(0, 255, 13);
    border-radius: 6px;
}

.addProduct__modal--footer input:hover {
    background-color: #009b2e;
    cursor: pointer;
}

.addProduct__modal--footer button {
    padding: 4px;
    background-color: #3b0f0f;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 6px;
}

.addProduct__modal--footer button:hover {
    background-color: #990808;
    cursor: pointer;
}


/* FORMULARIO */

.form__container {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    font-size: 1.4em;
}

.form__container > form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.form__container input {
    padding: 4px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
}

.form__container input:focus {
    outline: none;
}

.formulario input[type="text"] {
    padding: 4px;
    border-radius: 8px;
    width: 250px;
    margin-right: 6px;
}

.formulario input[type="text"]:first-of-type {
    width: 100px;
}

.formulario input[type="text"]:focus {
    outline: none;
}

.formulario input[type="submit"] {
    padding: 4px;
    border-radius: 8px;
}