/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* RESET */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { list-style-type: none; }

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* STYLES */
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff; 
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.login__container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(217, 230, 236);
    border-radius: 10px;
    padding: 20px;
}

.login__container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.login__container input {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 6px;
    padding: 6px;
}

.login__container input:focus {
    border: 1px solid rgb(0, 138, 202);
    outline: 0;
}

.login__container button {
    background-color: rgb(193, 238, 148);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 6px;
    padding: 6px;
}
