<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="./scripts/chat.js" defer></script>
</head>
<body>
    <section class="main__container">
        <%- include('./partials/header', { user: user.data, active: 'chat' }) %>

        <article class="container">
            <div class="chat__container">
                <div class="chat__container--title">
                    <p>Sistema de mensajería</p>
                </div>

                <ul class="chat__container--messages" id="messagesContainer"></ul>
                
                <div class="chat__container--input">
                    <form>
                        <input type="text" name="chatInput" id="chatInput" placeholder="Escribe un mensaje aquí">
                        <button onclick="postMessage(event, '<%= userData.name %>', '<%= userData.username %>')"><svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="currentColor" d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z"></path></svg></button>
                    </form>
                </div>
            </div>
        </article>

        <%- include('./partials/footer') %>
    </section>
</body>
</html>