<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="main__container">
        <%- include('./partials/header', { user: user.data, active: 'chat' }) %>

        <article class="container">
            <div class="chat__container">
                <div class="chat__container--title">
                    <p>Sistema de mensajería</p>
                </div>
                <ul class="chat__container--messages">
                    

                        <li class="message__container">
                            <div class="message__container--firstrow">
                                <p>name</p>
                                <p>@username</p>
                            </div>
                            <div class="message__container--secondrow">
                                <p>Esto es un textoooooooo ads asd asd asd a fdas gfqe q2f 13f 1fq sfqef 13 f1q3a asd iq1uwhgd iqsuhcpiaushcp qahcp quhwcp qaauhsdp aushd pauhsd poooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</p>
                                <p>timestamp</p>
                            </div>
                        </li>

                        <li class="message__container">
                            <div class="message__container--firstrow">
                                <p>name</p>
                                <p>@username</p>
                            </div>
                            <div class="message__container--secondrow">
                                <p>hola</p>
                                <p>timestamp</p>
                            </div>
                        </li>

                        <li class="message__container" style="align-self: flex-end;">
                            <div class="message__container--firstrow">
                                <p style="color: rgb(240, 127, 52);">name</p>
                                <p>@username</p>
                            </div>
                            <div class="message__container--secondrow">
                                <p>hola</p>
                                <p>timestamp</p>
                            </div>
                        </li>

                        <li class="message__container" style="align-self: flex-end;">
                            <div class="message__container--firstrow">
                                <p style="color: rgb(240, 127, 52);">name</p>
                                <p>@username</p>
                            </div>
                            <div class="message__container--secondrow">
                                <p>cómo andan?</p>
                                <p>timestamp</p>
                            </div>
                        </li>

                    
                </ul>
                <div class="chat__container--input">
                    <input type="text" name="chatInput" id="chatInput" placeholder="Escribe un mensaje aquí">
                    <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="currentColor" d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z"></path></svg>
                </div>
            </div>
        </article>

        <%- include('./partials/footer') %>
    </section>
</body>
</html>