<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class='LoginContainer'>
        <article class='error__container'>
          <div class='error__container--top'>
            <h2>Algo salió mal!</h2>
          </div>
          <div class='error__container--bottom'>
            <% if (type == 'regerror') { %>
              <p>Por favor, verifica que los datos ingresados en el formulario de registro sean correctos.</p>
                <button class="custom__button" onclick="location.href='/users/signup'">Volver</button>
            <% } %>
            <% if (type == 'logerror') { %>
              <p>Por favor, verifica que el usuario y la contraseña ingresados sean correctos.</p>
                <button class="custom__button" onclick="location.href='/'">Volver</button>
            <% } %>
          </div>
        </article>
      </section>
</body>

</html>