<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="container">
        <article class="container__header">Error!</article>
        <article class="container__content center">
            <p><%= text %></p>
        </article>
        <article class="container__footer center">
            <% if (type == 'regerror') { %>
                <button class="btn__green" onclick="location.href='/user/register'">Volver</button>
            <% } %>
            <% if (type == 'logerror') { %>
                <button class="btn__green" onclick="location.href='/'">Volver</button>
            <% } %>
        </article>
    </section>
</body>

</html>