<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administración</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="main__container">
        <%- include('./partials/header', { user: user.data, active: 'panel' }) %>
        
        <% if (user.data.admin == 1) { %> 
            <article class="panel__container">
                <div class="panel__container--leftside">
                    <p>Productos</p>
                    <p>Carritos</p>
                    <p>Usuarios</p>
                </div>
                <div class="panel__container--rightside">rightside</div>
            </article>
        <% } %>

        <%- include('./partials/footer') %>
    </section>
</body>
</html>