<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por su compra</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section class='LoginContainer'>
        <article class='success__container'>
          <div class='success__container--top'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Eo_circle_light-blue_checkmark.svg/1200px-Eo_circle_light-blue_checkmark.svg.png" alt="">
            <h2>Gracias por tu compra!</h2>
          </div>
          <div class='error__container--bottom'>
              <p>Hemos envíado el resumen de la compra a tu dirección de correo electrónico.</p>
                <button class="custom__button" onclick="location.href='/carts'">Volver</button>
          </div>
        </article>
      </section>
</body>
</html>