<h1>Primera prueba dinámica</h1>

{{!-- {{#if render}}
<p>Hola a todos mi nombre es {{nombre}} {{apellido}}</p>
{{else}}
<p>No se puede mostrar el nombre del usuario</p>
{{/if}} --}}

{{#if render}}
{{>deporteFavorito deporte=deporte}}
{{else}}
{{>deporteAburrido deporte=deporte}}
{{/if}}
