extends layout

block contenido

    if form
        div
            div(class="form__container")
                h2 Add product 
                form(action="/productos", method="post") 
                    div 
                        label(for="title") Name
                        input(type="text", name="title" id="title")
                    div 
                        label(for="price") Price
                        input(type="text", name="price" id="price")
                    div 
                        label(for="thumbnail") Thumbnail
                        input(type="text", name="thumbnail" id="thumbnail")
                    input(type="submit", value="Add product")
    else
        div 
            div(class="form__container")
                h2 Vista de productos
                table(style="width:100%")
                    tr
                        th Name 
                        th Price 
                        th Picture

                    each val in data
                        tr 
                            td #{val.title} 
                            td #{val.price}  
                            td 
                                img(src=val.thumbnail, alt="")

block header
    header Header

block footer 
    footer Footer