<div class="form__container">
  <h2>Ingrese productos</h2>
  <form action="/productos" method="post">
    <div>
      <label for="title">Nombre</label>
      <input type="text" name="title" id="title" />
    </div>
    <div>
      <label for="price">Precio</label>
      <input type="text" name="price" id="price" />
    </div>
    <div>
      <label for="thumbnail">Foto URL</label>
      <input type="text" name="thumbnail" id="thumbnail" />
    </div>
    <input type="submit" value="Añadir producto" />
  </form>
</div>